# Dependencias
node_modules/
app/node_modules/

# Datos locales (SQLite)
data/
*.db
*.db-journal
*.db-wal
*.db-shm

# Builds
dist/
app/dist/

# Env
.env
.env.local

# Sistema
.DS_Store
Thumbs.db

# videos fuente (no necesarios en build, ya extraídos a frames)
app/public/*.mp4
!app/public/web_feria.mp4
!app/public/web_feria_movil.mp4
